<!DOCTYPE html>
<html>
  <head>
    <title>APP Clientes</title>
  </head>
  <body>
    <h2>Agregar Cliente</h2>
        <form action="#" th:action="@{/clientes/crear}" th:object="${cliente}"
           method="post">
           <div class="form-group">
            <label for="nombre">Nombre</label> <input type="text"
             class="form-control" id="nombre" th:field="*{nombre}" name="nombre">
           </div>
        <input type="hidden" th:field="*{id}" name="id" id="id">
           <div class="form-group">
            <label for="nombre">Apellidos</label> <input type="text"
             class="form-control" id="apellidos" th:field="*{apellidos}"
             name="apellidos">
           </div>
        <div class="form-group">
            <label for="nombre">DNI</label> <input type="text"
             class="form-control" id="DNI" th:field="*{DNI}"
             name="DNI">
           </div>
        <div class="form-group">
            <label for="nombre">FECHA NACIMIENTO</label> <input type="datetime-local"
             class="form-control" id="fechaNacimiento" th:field="*{fechaNacimiento}"
             name="fechaNacimiento">
           </div>
        <button type="submit" class="btn btn-success">Guardar</button>
          </form>
  </body>
</html>