<!DOCTYPE html>
<html>
  <head>
    <title>APP Clientes</title>
  </head>
  <body>
      <h3>LISTA CLIENTES</h3>
      <table border="2">
        <thead>
            <tr>
                <th>ID CLIENTE</th>
        
                <th>DNI</th>
            
                <th>NOMBRE</th>
    
                <th>APELLIDOS</th>
            
                <th>FECHA NACIMIENTO</th>
                
                  <th>OPCION ELIMINAR</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${listCliente}">
            <td th:text="${cliente.id}"></td>
            <td th:text="${cliente.DNI}"></td>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.apellidos}"></td>
            <td th:text="${cliente.fechaNacimiento}"></td>
            <td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${cliente.id})}">Eliminar</a></td>
        </tr>
    </tbody>
</table>
  </body>
</html>